/*only for the pic at bottom*/
.arrow {
  width: 50px;
  border-radius: 50%;
}

/*only for the profile pic*/
.pic {
  width: 400px;
  border-radius: 50%;
  padding-right: 500px;
  padding-left: 500px;
}

/*as needed for center alignment*/
.center-text {
  text-align: center;
}

/*for header and footer only*/
.pop{
background-color: #EDEEC0;
color: #546A76;
}

/*decoratice flare, just for fun*/
.border {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px;
  padding-top: 16px ;
  padding-left: 20px;
  border: 3px solid #A7A284;
}

body {
  background-color: rgb(201, 199, 188);
  height: 100px;

}

article{
  color: black;
  font-family: 'Architects Daughter',sans-serif;
  font-size: 20px;
  padding-right: 300px;
  padding-left: 300px;
  padding-top:100px;
  padding-bottom:100px;
  letter-spacing: 2px;
}

body header{
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}

body footer{
  margin-top: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 20px;3  
}

/*missing pseudo-class I forgot on initial submission:*/
/* unvisited link */
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
}
a:active {
  color: red;
}
